RAZORPAY_KEY_ID=rzp_live_TPBHhah4lOKkn8
RAZORPAY_KEY_SECRET=GhlmOeG4brXM0PshwbLCKKIV
ORDER_NOTIFICATION_URL=https://hello.berryncurry.com
OWNER_EMAIL=hello@berryncurry@gmail.com
RESEND_API_KEY=your_resend_api_key
